<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ $.diecast.route_prefix }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ $.diecast.route_prefix }}/assets/css/font-awesome.min.css">

    <script src="{{ $.diecast.route_prefix }}/assets/js/jquery-2.2.4.min.js"></script>
    <script src="{{ $.diecast.route_prefix }}/assets/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ $.diecast.route_prefix }}/">Reacter</a>
        </div>
    </nav>

    <section class="{{ or $.page.class `content-main pt-4 container` }}">{{ template "content" . }}</section>
</body>
</html>